
input[type="number"],
select,
button {
    width: calc(100% - 22px); /* Ten en cuenta el padding y el border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.result {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .container {
        max-width: 600px;
    }
}